.Best-player-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0% 15px;
    font-family: "Poppins", sans-serif;
    .info-player {
        display: flex;
        flex-direction: column;
        & h1 {
            font-size: 50px;
            font-weight: 200px;
            margin: 0%;
        
            & span  {
                color:#FEE715FF
            }
        }
        & .name-bestPlayer {
            font-size: 37px;
            font-weight: 200px;
            margin: 0%;
         
            margin-top: 12px;
        }
        & ul {
            margin: 0;
          
            font-size: 17px;
            margin-top: 12px;
            font-weight: 100px;
            & li {
                margin-top: 6px;
                font-weight: 200;
           
            }
        }
     
    }
.best-player-img {
    margin-top: -30px;
    height: 665px;
    width: 980px;

}
}