@mixin box-shadow($left, $top, $radius, $color) {
    box-shadow: $left $top $radius $color;
    -webkit-box-shadow: $left $top $radius $color;
    -moz-box-shadow: $left $top $radius $color;
}

@mixin box-shadow4($offsetx, $offsety, $blur-radius, $spread-radius, $color) {
    box-shadow: $offsetx $offsety $blur-radius $spread-radius $color;
    -webkit-box-shadow: $offsetx $offsety $blur-radius $spread-radius $color;
    -moz-box-shadow: $offsetx $offsety $blur-radius $spread-radius $color;
}

@mixin transition($property, $duration, $easing: linear) {
    transition: $property $duration $easing;
    -webkit-transition: $property $duration $easing;
    -moz-transition: $property $duration $easing;
}

@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
}

@mixin border-radii($topleft, $topright, $bottomright, $bottomleft) {
    border-top-left-radius: $topleft;
    border-top-right-radius: $topright;
    border-bottom-right-radius: $bottomright;
    border-bottom-left-radius: $bottomleft;
    -webkit-border-top-left-radius: $topleft;
    -webkit-border-top-right-radius: $topright;
    -webkit-border-bottom-right-radius: $bottomright;
    -webkit-border-bottom-left-radius: $bottomleft;
    -moz-border-radius-topleft: $topleft;
    -moz-border-radius-topright: $topright;
    -moz-border-radius-bottomright: $bottomright;
    -moz-border-radius-bottomleft: $bottomleft;
}

@mixin gradient($color1, $color2) {
    background-color: $color1;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$color1}, endColorstr=#{$color2});
    background-image: -moz-linear-gradient(center top, $color1, $color2);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($color1), to($color2));
}

@mixin fade($type) {

    @if $type =='hide' {
        visibility: hidden;
        opacity: 0;
        transition: visibility 1s, opacity 1s;
    }

    @else if $type =='show' {
        visibility: visible;
        opacity: 1;
        transition: visibility 1s, opacity 1s;
    }

}

@mixin center($position:'both') {
    position: absolute;

    @if $position =='vertical' {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    @else if $position =='horizontal' {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translate(-50%);
    }

    @else if $position =='both' {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

}

@mixin bg-cover($url) {
    background: url($url) no-repeat center center fixed;
    background-size: cover;
}

@mixin img-cover {
    min-height: 100%;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

@mixin toolbar($width: rem(10), $height: rem(10), $color: $dark-slate) {
    &::-webkit-scrollbar {
        width: rem(10);
        cursor: no-drop;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: $sky-blue;
        @include border-radius(rem(10));
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $color;
    }
}